.recipe-details {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .recipe-details__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .recipe-details__image {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .recipe-details__instructions {
    font-size: 18px;
    line-height: 1.5;
  }
  